<!--
	Section: Contact Nav
-->
<section id="contact-nav" class="ui inverted grey straight segment">
	<div class="ui fluid container">
		<div class="ui grid">
			<div class="ui sixteen wide right aligned column">
				<div class="ui horizontal padded list">
					<div class="ui item">
						<a href="tel:+15035026125">
							<span class="ui inverted white text">+1 (503) 502-6125</span>
						</a><!-- /a -->
					</div><!-- /div -->
					<div class="ui item"
						<a href="mailto:robert@rgrindustries.com" >
							<span class="ui inverted white lowercase text">
								robert@rgrindustries.com
							</span><!-- /span -->
						</a><!-- /a -->
					</div><!-- /div -->
				</div><!-- /div -->
				<div class="ui horizontal padded list">
					<a href="http://www.twitter.com/robertgraleigh" class="ui item">
						<i class="fa fa-twitter fa-fw"></i>
					</a><!-- /a -->
					<a href="http://www.facebook.com/bobbygraleigh" class="ui item">
						<i class="fa fa-facebook fa-fw"></i>
					</a><!-- /a -->
					<a href="http://www.linkedin.com/in/robertgraleigh" class="ui item">
						<i class="fa fa-linkedin fa-fw"></i>
					</a><!-- /a -->
					<a href="http://www.github.com/robertgraleigh" class="ui item">
						<i class="fa fa-github fa-fw"></i>
					</a><!-- /a -->
				</div><!-- /div -->
			</div><!-- /div -->
		</div><!-- /div -->
	</div><!-- /div -->
</section><!-- /section -->
