<!--
	Section: Contact Nav
-->
<div id="contact-nav" class="ui stackable">
	<div class="ui grid">
		<div class="ui row">
			<div class="ui horizontal fluid inverted six item grey borderless menu">
				<div class="ui item">
					<a href="contact-us.html">
						<span class="ui inverted white text">Contact Us</span>
					</a><!-- /a -->
				</div><!-- /div -->
				<div class="ui item">
					<a href="tel:+15035026125">
						<span class="ui inverted white text">+1 (503) 502-6125</span>
					</a><!-- /a -->
				</div><!-- /div -->
					<div class="ui item">
						<a href="mailto:robert@rgrindustries.com">
							<span class="ui inverted white lowercase text">
								robert@rgrindustries.com
							</span><!-- /span -->
						</a><!-- /a -->
					</div><!-- /div -->
					<div class="ui item">
						<a href="http://www.twitter.com/robertgraleigh">
							<i class="fa fa-twitter fa-sm fa-fw"></i>
						</a><!-- /a -->
					</div><!-- /div -->
					<div class="ui item">
						<a href="http://www.linkedin.com/in/robertgraleigh">
							<i class="fa fa-linkedin fa-sm fa-fw"></i>
						</a><!-- /a -->
					</div><!-- /div -->
					<div class="ui item">
						<a href="http://www.github.com/robertgraleigh">
							<i class="fa fa-github fa-sm fa-fw"></i>
						</a><!-- /a -->
					</div><!-- /div -->
			</div><!-- /div -->
		</div><!-- /div -->
	</div><!-- /div -->
</div><!-- /div -->
