<!--
	Section: Contact Nav
-->
<section id="contact-nav" class="ui inverted grey straight segment">
	<div class="ui grid">
		<div class="ui sixteen wide right aligned column">
			<div class="ui horizontal list">
				<div class="ui item">
					<span class="ui text">Contact Info:</span>
				</div><!-- /div -->
				<div class="ui item">
					<a href="tel:+15035026125">
						<span class="ui text">+1 (503) 502-6125</span>
					</a><!-- /a -->
				</div><!-- /div -->
				<div class="ui item"
					<a href="mailto:robert@rgrindustries.com" class="ui text">
						robert@rgrindustries.com
					</a><!-- /a -->
				</div><!-- /div -->
			</div><!-- /div -->
			<div class="ui horizontal list">
				<a href="" class="ui item"><i class="fa fa-twitter fa-fw"></i></a>
				<a href="" class="ui item"><i class="fa fa-facebook fa-fw"></i></a>
				<a href="" class="ui item"><i class="fa fa-linkedin fa-fw"></i></a>
				<a href="" class="ui item"><i class="fa fa-github fa-fw"></i></a>
			</div><!-- /div -->
		</div><!-- /div -->
	</div><!-- /div -->
</section><!-- /div -->
