<!-- open secondary nav -->
<div class="ui inverted vertical footer segment">
	<div class="ui center aligned container">
		<div class="ui stackable inverted divided grid">
			<div class="sixteen wide column">
				<div class="ui inverted horizontal list">
					<a href="#" class="ui item">About</a>
					<a href="#" class="ui item">Products</a>
					<a href="#" class="ui item">Services</a>
					<a href="#" class="ui item">Pricing</a>
 				</div><!-- /div -->
			</div><!-- /div -->
		</div><!-- /div -->
		<div class="ui inverted section divider"></div>
		<img src="/img/rgr-industries-mock-logo.png" class="ui centered mini image">
		<div class="ui horizontal inverted small divided link list">
			<a class="ui item" href="#">Site Map</a>
			<a class="ui item" href="#">Contact Us</a>
			<a class="ui item" href="#">Terms and Conditions</a>
			<a class="ui item" href="#">Privacy Policy</a>
		</div><!-- /div -->
	</div><!-- /div -->
</div><!-- /div -->
