<!--
	Header: Main header
-->
<header id="home-header" class="ui inverted blue segment ">
	<div class="ui internally celled padded grid">
		<div class="ui sixteen wide column">
			<h1 class="ui header"></h1>
			<p class="ui text">This example shows how to use lazy loaded images, a sticky menu, and a simple text container.</p>
			<a href="" class="ui white button">Button one</a>
			<a href="" class='ui grey button'>Button two</a>
		</div><!-- /div -->
	</div><!-- /div -->
</header><!-- /header -->
