<!--
	Header: Main header for the single page template
-->
<header id="home-header" class="ui inverted blue segment ">
	<div class="ui internally celled padded grid">
		<div class="ui nine wide column">
			<h1 class="ui header">Need a spare hand? Or three?</h1>
			<p class="ui text">Robert G. Raleigh is an experienced frontend web developer with a passion for development, small busines, and social justice.</p>
			<a href="" class="ui white button">Button one</a>
			<a href="" class='ui grey button'>Button two</a>
		</div><!-- /div -->
		<div class="">
			<div class="ui images">
				<img class
			</div>
		</div>
	</div><!-- /div -->
</header><!-- /header -->
