<!-- primary site navigation -->
<div class="ui borderless main menu">
	<div class="ui fluid container">
		<a href="http://www.robertgraleigh.com" class="ui logo item">
			Robert G. Raleigh
		</a><!-- /a -->
		<a href="/#aAboutRobert" class="ui logo item">
			About
		</a><!-- /a -->
		<a href="/#aProducts" class="ui logo item">
			Products
		</a><!-- /a -->
		<a href="/#aServices" class="ui logo item">
			Services
		</a><!-- /a -->
		<a href="projects.html"class="ui logo item">
			Projects
		</a><!-- /a -->
		<div class="ui left floated simple dropdown item">
			<i class="fa fa-bars fa-fw"></i> More
			<i class="dropdown icon"></i>
		<div class="menu">
			<div class="header">Robert G. Raleigh</div>
				<div class="ui item">
					<a href="sticky.html/#aAboutRobert">About Robert</a>
				</div><!-- /div -->
				<div class="ui item">
					<a href="sticky.html/#aRobertsStory">Robert's Story</a><!-- /a -->
				</div><!-- /div -->
				<div class="ui item">
					<a href="sticky.html/#aHowICanHelp">How I Can Help</span>
				</div><!-- /div -->
				<div class="ui item">
					<a href="sticky.html/#aSkillset">Skillset</a>
				</div><!-- /div -->
				<div class="ui item">
					<i class="dropdown icon"></i>
						Projects
						<div class="left menu">
							<div class="item">
								<a href="sticky.html/#employment">Project #1</a>
							</div><!-- /div -->
							<div class="item">
								<a href="sticky.html/#employment">Project #2</a>
							</div><!-- /div -->
							<div class="item">
								<a href="sticky.html/#employment">Project #3</a>
							</div><!-- /div -->
							<div class="item">
								<a href="sticky.html/#employment">Project #4</a>
							</div><!-- /div -->
							<div class="item">
								<a href="sticky.html/#employment">Project #5</a>
							</div><!-- /div -->
						</div><!-- /div -->
					</div><!-- /div -->
							<div class="item">
								<i class="dropdown icon"></i>
								<a href="sticky.html/#experience">Experience</a>
								<div class="left menu">
									<div class="item">
										<a href="sticky.html/#employment">Employment</a>
									</div><!-- /div -->
									<div class="item">
										<a href="sticky.html/#volunteer">Volunteer</a>
									</div><!-- /div -->
									<div class="item">
										<a href="sticky.html/#hackathons">Hackathons</a>
									</div><!-- /div -->
								</div><!-- /div -->
							</div><!-- /div -->
							<div class="item">
								<a href="sticky.html/#testimonials">Testimonials</a>
							</div><!-- /div -->
							<div class="item">
								<i class="dropdown icon"></i>
								<a href="stick"></a>Resources
								<div class="left menu">
									<div class="item">Articles</div>
									<div class="item">Blogs</div>
									<div class="item">Tutorials</div>
									<div class="item">Books</div>
									<div class="item">Speakers</div>
									<div class="item">Hacks</div>
								</div><!-- /div -->
							</div><!-- /div -->
							<div class="item">
								<a href="sticky.html/#contactRobert">Contact Robert</a>
							</div><!-- /div -->
						</div><!-- /div -->
					</div><!-- /div -->
					<div class="ui item">
						<a href="get-started.html" class="ui blue button">
							Get started
						</a><!-- /a -->
					</div><!-- /div -->
				</div><!-- /div -->
			</div><!-- /div -->
	</div><!-- /div -->
</div><!-- /div -->
