<!-- primary site navigation -->
<div class="ui borderless main menu">
	<div class="ui container">
		<a href="http://robertgraleigh.github.io" class="ui item">
			<img src="/img/rgr-industries-mock-logo.png" alt="RGR GROUP LOGO" />
		</a><!-- /a -->
		<a href="" class="ui logo item">
			Robert G. Raleigh
		</a><!-- /a -->
		<a href="tel:+15035026125" class="ui item">
			+1 (503) 502-6125</a>
			<a href="mailto:robert@rgrindustries.com"class="ui item">
				robert@rgrindustries.com
			</a><!-- /a -->
			<div class="ui right floated dropdown item">
				<div class="text">
					<i class="fa fa-bars fa-fw"></i> Menu
				</div><!-- /div -->
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="header">Robert G. Raleigh</div>
					<div class="item">
						<a href="sticky.html/#aboutRobert">About Robert</a>
					</div><!-- /div -->
					<div class="item">
						<a href="sticky.html/#robertsStory">Robert's Story</a><!-- /a -->
					</div><!-- /div -->
					<div class="item">
						<a href="sticky.html/#howICanHelp">How I Can Help</span>
						</div><!-- /div -->
												<div class="item">
													<a href="sticky.html/#skillset">Skillset</a>
												</div><!-- /div -->
						<div class="item">
							<i class="dropdown icon"></i>
							Projects
							<div class="left menu">
								<div class="item">
									<a href="sticky.html/#employment">Project #1</a>
								</div>
								<div class="item">
									<a href="sticky.html/#employment">Project #2</a>
								</div>
								<div class="item">
									<a href="sticky.html/#employment">Project #3</a>
								</div>
								<div class="item">
									<a href="sticky.html/#employment">Project #4</a>
								</div>
								<div class="item">
									<a href="sticky.html/#employment">Project #5</a>
								</div>
							</div>
						</div>
						<div class="item">
							<i class="dropdown icon"></i>
							<a href="sticky.html/#experience">Experience</a>
							<div class="left menu">
								<div class="item">
									<a href="sticky.html/#employment">Employment</a>
								</div>
								<div class="item">
									<a href="sticky.html/#volunteer">Volunteer</a>
								</div>
								<div class="item">
									<a href="sticky.html/#hackathons">Hackathons</a>
								</div>
							</div>
						</div>
						<div class="item">
							<a href="sticky.html/#testimonials">Testimonials</a>
						</div><!-- /div -->
						<div class="item">
							<i class="dropdown icon"></i>
							<a href="stick"></a>Resources
							<div class="left menu">
								<div class="item">Articles</div>
								<div class="item">Blogs</div>
								<div class="item">Tutorials</div>
								<div class="item">Books</div>
								<div class="item">Speakers</div>
								<div class="item">Hacks</div>
							</div><!-- /div -->
						</div><!-- /div -->
						<div class="item">
							<a href="sticky.html/#contactRobert">Contact Robert</a>
						</div><!-- /div -->
						<div class="divider"></div>
						<div class="item">
							<i class="dropdown icon"></i>
							<a href="stick"></a>Resources
							<div class="left menu">
								<div class="item">Articles</div>
								<div class="item">Blogs</div>
								<div class="item">Tutorials</div>
								<div class="item">Books</div>
								<div class="item">Speakers</div>
								<div class="item">Hacks</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /div -->
		</div><!-- /div -->
