<!-- primary site navigation -->
<div class="ui borderless main menu">
	<div class="ui fluid container">
		<a href="index.html" class="ui logo item">
			Robert G. Raleigh
		</a><!-- /a -->
		<a href="about.html" class="ui item">
			About
		</a><!-- /a -->
		<a href="products.html" class="ui item">
			Products
		</a><!-- /a -->
		<a href="services.html" class="ui item">
			Services
		</a><!-- /a -->
		<div class="ui left floated simple dropdown item">
			<i class="fa fa-bars fa-fw"></i> More
			<i class="fa fa-arrow-circle-down fa-fw"></i>
		<div class="menu">
			<div class="header">Robert G. Raleigh</div>
			<div class="ui item">
					About
					<i class="fa fa-icon-caret-right fa-fw"></i>
					<div class="left menu">
						<div class="ui item">
							<a href="about.html/#aAboutRobert">About Robert</a>
						</div><!-- /div -->
						<div class="ui item">
							<a href="about.html/#aRobertsStory">Robert's Story</a>
						</div><!-- /div -->
						<div class="item">
							<a href="about.html/#aSkillset">Skillset</a>
						</div><!-- /div -->
						<div class="item">
							<a href="about.html/#aTestimonials">Testimonials</a>
						</div><!-- /div -->
						<div class="item">
							<a href="about.html/#aEmployment">Employment</a>
						</div><!-- /div -->
						<div class="item">
							<a href="about.html/#aVolunteer">Volunteer</a>
						</div><!-- /div -->
						<div class="item">
							<a href="about.html/#aHackathons">Hackathons</a>
						</div><!-- /div -->
						<div class="item">
							<a href="projects.html/">Projects</a>
						</div><!-- /div -->
						<div class="item">
							<a href="contact-info.html/">Contact Info</a>
						</div><!-- /div -->
					</div><!-- /div -->
				</div><!-- /div -->
				<div class="ui item">
						Products
						<i class="fa fa-arrow-circle-right fa-fw"></i>
						<div class="left menu">
							<div class="ui item">
								<a href="products.html/#aWebsites">Websites</a>
							</div><!-- /div -->
							<div class="ui item">
								<a href="products.html/#aCMSSystems">CMS Systems</a>
							</div><!-- /div -->
							<div class="ui item">
								<a href="products.html/#aOnlineShops">Online Shops</a>
							</div><!-- /div -->
						</div><!-- /div -->
					</div><!-- /div -->
							<div class="item">
								Services
								<i class="fa fa-arrow-circle-right fa-fw"></i>
								<div class="left menu">
									<div class="ui item">
										<a href="services.html/#aWebDevelopmentDesign">Web Development + Design</a>
									</div><!-- /div -->
									<div class="ui item">
										<a href="services.html/#aECommerce">E-Commerce</a>
									</div><!-- /div -->
									<div class="item">
										<a href="services.html/#aCopywriting">Copywriting</a>
									</div><!-- /div -->
								</div><!-- /div -->
							</div><!-- /div -->
							<div class="item">
								<a href="projects.html/#testimonials">Projects</a>
							</div><!-- /div -->
							<div class="item">
								Resources
								<i class="fa fa-arrow-circle-right fa-fw"></i>
								<div class="left menu">
									<div class="item">Articles</div>
									<div class="item">Blogs</div>
									<div class="item">Tutorials</div>
									<div class="item">Books</div>
									<div class="item">Speakers</div>
									<div class="item">Hacks</div>
								</div><!-- /div -->
							</div><!-- /div -->
							<div class="item">
								<a href="pricing.html/#contactRobert">Pricing</a>
							</div><!-- /div -->			
							<div class="item">
								<a href="sticky.html/#contactRobert">Contact Info</a>
							</div><!-- /div -->
						</div><!-- /div -->
					</div><!-- /div -->
					<div class="ui item">
						<a href="contact-us.html" class="ui grey button">
							Contact Us
						</a><!-- /a -->
					</div><!-- /div -->
					<div class="ui item">
						<a href="get-started.html" class="ui blue button">
							Get started
						</a><!-- /a -->
					</div><!-- /div -->
				</div><!-- /div -->
			</div><!-- /div -->
	</div><!-- /div -->
</div><!-- /div -->
