<!--
	Section: Testimonials
-->
<section id="testimonials" class="ui straight segment">
	<div class='ui internally celled padded grid'>
		<div class="ui seven wide column">
			<h2 class="ui right aligned header">
				<span class="blue bottom border">Testimonials</span>
			</h2><!-- /h2 -->
		</div><!-- /div -->
		<div class="ui nine wide column">
			<div class="ui blue segment">
				<h3 class="ui header"></h3>
				<blockquote class="ui text">
					Robert's extremely multitalented, and just a pleasure to be around. I think you will be wowed. You'll be even more wowed should you have an opportunity to work with him. He can lead/launch anything but also has an amazing ability to just plug into whatever is going on and improve it exponentially. No fanfare, just result.
				</blockquote><!-- /p -->
				<span class="ui text">
					Kristin Wolff
				</span><!-- /span -->
			</div><!-- /div -->
			<div class="ui blue segment">
				<h3 class="ui header"></h3>
				<blockquote class="ui text">
					I've been working with Robert for about half a year, and was a learning assistant for one of his classes with Log Camp last summer. As a junior web developer entering the industry, Robert has been an invaluable mentor. He has always been there for advice, both professional and technical. He was an excellent project manager during my time working for Log Camp, and his commitment to technical education and the disadvantaged communities of Portland is impressive. I would not hesitate to work with him again.
				</blockquote><!-- /p -->
				<span class="ui text">Merritt Lawrenson</span>
			</div><!-- /div -->
			<div class="ui blue segment">
				<h3 class="ui header"></h3>
				<blockquote class="ui text">
					I was lucky enough to work Robert at Log Camp and I can say with a clear mind, the experience has impacted me in more ways than one. More than just a job, I was given the opportunity to impact the low-income youth. Under his direction, I grew in coding and computer science knowledge, gained relentless patience working with middle school youth and learned to not stop at the first road block. His enthusiasm for learning is contagious and will rub off on you, guaranteed!
				</blockquote><!-- /p -->
				<span class="ui text">Dahlia Turnbull</span>
			</div><!-- /div -->
		</div><!-- /div -->
	</div><!-- /div -->
</section><!-- /span -->
